Repository JHurtadoS/pruebaTecnicaFront: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

cosas por si acaso
  next.config.ts
  package-lock.json
  package.json
  public/file.svg
  public/globe.svg
  public/images/Logo.webp
  public/images/heroPlaceHolder.webp
  public/images/image_mock_movie.png
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/components/MovieCard.tsx
  src/app/components/MovieList.tsx
  src/app/components/forms/Login.tsx
  src/app/components/forms/validationRules.ts
  src/app/components/layouts/Header.tsx
  src/app/components/layouts/MoviesSection.tsx
  src/app/components/layouts/Navbar.tsx
  src/app/components/layouts/SideBar.tsx
  src/app/components/modal.tsx
  src/app/components/navbar.tsx
  src/app/components/profile.tsx
  src/app/components/ratingBar.tsx
  src/app/components/types/auth.ts
  src/app/fonts/GeistMonoVF.woff
  src/app/fonts/GeistVF.woff
  src/app/hooks/useAuth.ts
  src/app/hooks/useFetch.ts
  src/app/hooks/useLocalStorage.ts
  src/app/layout.tsx
  src/app/movie/[id].tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/services/mockApi.ts
  src/services/movies.ts
  src/services/userService.ts
  src/types/movie.ts
  src/utils/axios.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

terminado pagina principal y login y registro falta conectar con servicios / api y nextauth
  public/images/login_image.webp
  public/images/register_image.webp
  src/app/components/forms/Login.tsx
  src/app/components/forms/SignUp.tsx
  src/app/components/layouts/Header.tsx
  src/app/components/layouts/Navbar.tsx
  src/app/components/modals/contextModalAuth.tsx
  src/app/components/modals/modalAuth.tsx
  src/app/components/modals/modalContainer.tsx
  src/app/components/modals/modalData.tsx
  src/app/components/profile.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/services/mockApi.ts
  src/services/movies.ts
  src/services/userService.ts
Due: eslint --fix

ultimos ajuste para presentar
  next.config.ts
  package-lock.json
  package.json
  src/app/components/MovieCard.tsx
  src/app/components/MovieList.tsx
  src/app/components/SimpleCardMovie.tsx
  src/app/components/context/MoviesContext.tsx
  src/app/components/context/authContext.tsx
  src/app/components/forms/Login.tsx
  src/app/components/forms/SignUp.tsx
  src/app/components/layouts/Header.tsx
  src/app/components/layouts/Header/HeaderMovieWrapper.tsx
  src/app/components/layouts/Header/IndividualMovieHeader.tsx
  src/app/components/layouts/Header/MainHeader.tsx
  src/app/components/layouts/MoviesSection.tsx
  src/app/components/layouts/Navbar.tsx
  src/app/components/layouts/SideBar.tsx
  src/app/components/modals/modalAuth.tsx
  src/app/components/modals/modalContainer.tsx
  src/app/components/modals/modalData.tsx
  src/app/components/profile.tsx
  src/app/components/ratingBar.tsx
  src/app/components/types/auth.ts
  src/app/hooks/useAuth.ts
  src/app/hooks/useFetch.ts
  src/app/hooks/useLocalStorage.ts
  src/app/layout.tsx
  src/app/movie/[id].tsx
  src/app/movie/[id]/page.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/services/api.ts
  src/services/authApi.ts
  src/services/favoriteApi.ts
  src/services/movies.ts
  src/services/moviesApi.ts
  src/services/userService.ts
Due: eslint --fix, prettier --write

actualizacion readme
  README.md
Due: prettier --write

ajuste md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{css,scss,md,json}
